<div class="container">
  <table class="table">
    <thead class="table-head">
      <tr>
        <th class="t-name">Nome</th>
        <th class="t-year">Ano</th>
        <th class="t-director">Diretor</th>
        <th class="t-year">Genero</th>
        <th class="t-description">Descrição</th>
        <th class="t-link">Poster</th>
      </tr>
    </thead>
    <tbody class="row">
      <tr class="item" *ngFor="let movie of movies">

        <td class="label label-name">{{ movie.name }}</td>

        <td class="label label-year">{{ movie.year }}</td>

        <td class="label label-director">{{ movie.director }}</td>

        <td class="label label-link">{{ movie.gender }}</td>

        <td class="label label-description">{{ movie.description }}</td>

        <td class="label label-cover">{{ movie.cover }}</td>

      </tr>
    </tbody>
  </table>
</div>
